body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    width: 100%;
    border-left: 8px solid #0033a0;
    border-right: 8px solid #d11d1d; 
}

h2 {
    text-align: center;
    color: #0033a0;
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #0033a0; 
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

input[type="email"],
input[type="password"] {
    border: 1px solid #d11d1d; 
}

button {
    padding: 12px;
    background-color: #d11d1d; 
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0033a0; 
}

#loginResponse {
    margin-top: 20px;
    text-align: center;
    color: #d11d1d;
}
